.lui-xform {
  background-color: #fff;
  .ele-grid-item {
    margin-left: -1px;
    margin-top: -1px;
    overflow: hidden;
    padding: 20px;

    .lui-form-item {
      margin-bottom: 0;
    }

    .ele-xform-fieldset {
      &-wrap {
        flex: 1;
      }
    }
  }
}
