.project-demand-edit-table {
  .lui-form-item-control {
    padding-left: 0;

    .text-area {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      white-space: initial;
    }
  }

  .lui-pro-table-cell-serial {
    white-space: nowrap;
  }

  .lui-table-thead > tr > th {
    color: #354052;
    font-size: 14px;
    font-weight: 400;
  }

  .lui-table-thead > tr > th:not(:last-child):not(.lui-table-row-expand-icon-cell):not([colspan])::before {
    display: none;
  }
}
