@mixin form-page($baseCls, $labelWidth:10) {
  .#{$baseCls} {
    .ele-xform-fieldset-label-wrap {
      align-items: center !important;

      .ele-xform-fieldset-label {
        width: #{$labelWidth}em !important;
        max-width: #{$labelWidth}em !important;
      }
    }
  }

  .mui-popup {
    .mui-popupdown-header {
      &-mix-button {
        .mui-button-button-text {
          & > span {
            padding-left: 15px !important;
          }
        }
      }
    }
  }
}
