@import "../../../common/index.scss";
$baseCls: view-page;

@include view-page($baseCls);

.fdSupplies {
  .lui-form-item-control-input-content {
    & > div span {
      display: inline-block;
      width: 200px;
    }
  }
}
