.mui-xform {
  background-color: #fff;

  .lui-form-item {
    margin-bottom: 0;
  }

  .ele-row {
    padding: 14px 0;

    &:after {
      content: '';
      position: absolute;
      background-color: #e7e7e7;
      display: block;
      z-index: 1;
      top: auto;
      right: auto;
      bottom: 1px;
      left: 0;
      width: 100%;
      height: 1px;
      transform-origin: 50% 100%;
      transform: scaleY(0.5);
    }
  }
}

@import '../../../common/common.scss';

$baseCls: project-form;

@include form-page($baseCls)
