.record-modal {
  .lui-template-list-page {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    .lui-pagination-rc-pagination {
      padding: 0;

      .lui-pagination-main {
        display: flex;
        justify-content: center;
      }
    }
  }
}

.lui-input-disabled .lui-input, .lui-input-disabled .lui-input-affix-wrapper {
  color: rgba(0, 0, 0, .25) !important;
  background-color: #f5f5f5 !important;
  cursor: not-allowed !important;
  opacity: 1;
}


.multiple-input {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 30px;
  min-width: 0;
  padding: 4px 6px;
  color: rgba(0, 0, 0, .85);
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.multiple-input:hover {
  border: 1px solid #4285f4;
}

.lui-template-list-table-search {
  width: 400px;
  display: flex;
  align-items: center;

  &-title {
    width: 100px;
  }
}

// .modal-tag {
//   position: relative;
//   max-width: 100px;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   padding-right: 15px;

//   .anticon {
//     position: absolute;
//     top: 50%;
//     right: 0;
//     transform: translateY(-50%);
//   }
// }
